---
title: Katamarina - Free PaaS platform and framework for building clouds
description: > 
  With Katamarina, you can transform your bunch of servers into an intelligent system with a simple REST API for spawning Kubernetes clusters, Database-as-a-Service, virtual machines, load balancers, HTTP caching services, and other services with ease.

  You can use Katamarina to build your own cloud or to provide a cost-effective development environments.
benefits:
  - title: API-first
    icon: fas fa-code
    description: >
      Katamarina основывается на Kubernetes и тесно взаимодействует с его API. Платформа не преследует цели скрыть от пользователя все взамодействие через UI, мы представляем все необходимые компоненты и их исходный код, что дает пользователю возможность глубоко взаимодействовать со всеми низкоуровневыми блоками.
  - title: Стандартизация и унификация
    icon: fas fa-certificate
    description: >
      Компоненты платформы базируются на доверенной основе, используется ядро Linux, соответствующее требованиям ФСТЭК и прошедшее аудит информационной безопасности  от ИСП РАН.
  - title: Взаимодействие с партнерами
    icon: fas fa-handshake
    description: >
     Продукт интегрирован с решениями от ведущих ИТ и ИБ вендоров в РФ.
Внедрением и продвижением решения занимаются ключевые дистрибуторы и ведущие интеграторы на рынке РФ.
     Компания-разработчик поддерживает взаимодействие с сообществом в публичных каналах и чатах.
features:
  - title: Простая установка
    icon: fas fa-wrench
    description: >
      With [talos-bootstrap](https://github.com/aenix-io/talos-bootstrap/), we provide the ultimate easy installation method,
      allowing you to bootstrap Katamarina using PXE or ISO method on a set of your servers out-of-nothing in a bare data center.
      Using immutable OS allows us to maintain system consistency and ensure that everything will work as expected.
  - title: Легкая интеграция
    icon: fas fa-plug
    description: >
      We provide a native Kubernetes RESTful API, widely recognized for its declarativity.
      Therefore, to integrate with your billing, it's enough to instruct your system to submit a specific YAML manifest defining the desired service to the Kubernetes API. 
      Katamarina will do the rest of the work for you.
  - title: Расширяемость
    icon: fas fa-up-right-and-down-left-from-center
    description: >
      Each package in the platform consists of a set of YAML files. Therefore, anyone with some familiarity with Kubernetes primitives can modify or expand the platform. Delivery of packages to the system is handled by FluxCD, a well-known and widely used tool in the community.
  - title: Низкие затраты и высокая производительность
    icon: fas fa-gauge-high
    description: >
      We care about performance. That's why we adopt the most performant technologies balancing stability and functionality.
      Moreover, our unique tenant model enables efficient allocation of cloud resources for the control plane, ensuring cost-efficiency and the necessary level of security
  - title: Мониторинг в комплекте
    icon: fas fa-area-chart
    description: >
      Each instance of each service is accompanied by a set of pre-configured dashboards and alerts.
      You can create separate monitoring hubs for every tenant or combine them into one.
  - title: Удобная панель управления
    icon: fas fa-window-maximize
    description: >
      While the primary goal of the platform is to provide a beautiful API, it also has a dashboard for deploying applications. The Web UI facilitates a quick dive into the platform and provides a visual demonstration of its capabilities.
---

<div class="hero-gitops">
  {{% blocks/hero title="Katamarina: Свободная PaaS-платформа и фреймворк для построения облачных инфраструктур." color="primary"
  height="full" link_title="Протестировать" link_url="https://katamarina.ru/docs/" %}}
Katamarina позволяет легко трансформировать ваш парк серверов в интеллектуальную систему с помощью простого REST API для развертывания Kubernetes кластеров, виртуализации и контейнеризации, сервисов баз данных (DBaaS), виртуальных машин, балансировщиков нагрузки, HTTP-кэширования и других сервисов.

Используйте Katamarina для создания собственного облака или для предоставления недорогих сред разработки.

  {{% /blocks/hero %}}

  <div class="lead-flux">
  {{< blocks/lead >}}
  {{< /blocks/lead >}}
  </div>
</div>

<!-- Benefits & Features -->

{{< home/benefits >}}
{{< home/features >}}


<!-- ADOPTERS SUBSECTION -->
{{% blocks/lead title="A project by XSYSTECH" color="primary" %}}
<h2 class="section-label">Коммерческая поддержка</h2>

<a href="https://xsystech.ru/"></a> Компания XSYSTECH предоставляет поддержку Enterprise-уровня в режиме 24/7.

Мы предоставляем полный спектр услуг поддержки, включая консультации, разработку дополнительных функций, дизайн, а также помощь с установкой и интеграцией.

<a class="btn btn-lg" target="_blank" href="https://xsystech.ru/contacts/">Написать нам</a>

{{< /blocks/lead >}}

<!-- Community -->
<div class="section-community">
  {{< blocks/lead color="dark" >}}
  <h2 class="section-label">
    Сообщество
  </h2>

  <p>Мы высоко ценим неизменную поддержку и вклад нашего сообщества в развитие Katamarina. Присоединяйтесь и станьте частью нашей истории.</p>

  {{< /blocks/lead >}}

  <div class="subsection-community-row">
    {{< blocks/section color="dark" type="community-row">}}

    {{< home/community icon="fab fa-github" title="GitFlic Репозиторий" >}}
    <a target="_blank" href="https://gitflic.ru/company/katamarina">Локальный репозиторий на GitFlic</a>. Все ключевые модули продукта русифицированы, а компоненты и исходный код размещены на локальном российском репозитории.

    {{< /home/community >}}


    {{< home/community icon="fa fa-paper-plane" title="Telegram" >}}
    У нашего продукта активное сообщество! Присоединяйтесь к нам в <a target="_blank" href="https://t.me/cozystack_ru/">групповой чат в Telegram</a> для общения, обмена вопросами и ответами, а также для получения свежих новостей и информации от сообщества.
    {{< /home/community >}}

    {{< /blocks/section >}}
  </div>

</div>



